--
-- PostgreSQL database dump
--

\restrict rOcHGwXq7Uyp7TLqAh9I5b8ddSDHKTcYVBS0bUIr1zu2nBXAWd4T3KpReGoOnFy

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: bi; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA bi;


ALTER SCHEMA bi OWNER TO postgres;

--
-- Name: bi_meta; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA bi_meta;


ALTER SCHEMA bi_meta OWNER TO postgres;

--
-- Name: compile_query(jsonb); Type: FUNCTION; Schema: bi_meta; Owner: postgres
--

CREATE FUNCTION bi_meta.compile_query(plan jsonb) RETURNS text
    LANGUAGE plpgsql
    AS $$
DECLARE
  m text;
  d text;
  select_dims text := '';
  select_mets text := '';
  group_by  text := '';
  where_sql text := '1=1';
  order_sql text := '';
  lim int := COALESCE((plan->>'limit')::int, 500);

  dim_expr text;
  met_expr text;

  f jsonb;
  field_key text;
  op text;
  v jsonb;
  val_text text;

  sort_item jsonb;
  sort_field text;
  sort_dir text;

  in_list text;
  one_val text;
BEGIN
  IF lim < 1 THEN lim := 500; END IF;
  IF lim > 5000 THEN lim := 5000; END IF;

  IF jsonb_typeof(plan->'dimensions') = 'array' THEN
    FOR d IN SELECT jsonb_array_elements_text(plan->'dimensions') LOOP
      SELECT sql_expression INTO dim_expr
      FROM bi_meta.dimensions
      WHERE dim_key = d;

      IF dim_expr IS NULL THEN
        RAISE EXCEPTION 'Unknown dimension: %', d;
      END IF;

      IF select_dims <> '' THEN select_dims := select_dims || ', '; END IF;
      select_dims := select_dims || format('%s AS %I', dim_expr, d);

      IF group_by <> '' THEN group_by := group_by || ', '; END IF;
      group_by := group_by || dim_expr;
    END LOOP;
  END IF;

  IF jsonb_typeof(plan->'metrics') = 'array' THEN
    FOR m IN SELECT jsonb_array_elements_text(plan->'metrics') LOOP
      SELECT sql_expression INTO met_expr
      FROM bi_meta.metrics
      WHERE metric_key = m;

      IF met_expr IS NULL THEN
        RAISE EXCEPTION 'Unknown metric: %', m;
      END IF;

      IF select_mets <> '' THEN select_mets := select_mets || ', '; END IF;
      select_mets := select_mets || format('%s AS %I', met_expr, m);
    END LOOP;
  END IF;

  IF (select_dims = '' AND select_mets = '') THEN
    RAISE EXCEPTION 'Plan must include metrics or dimensions';
  END IF;

  IF jsonb_typeof(plan->'filters') = 'array' THEN
    FOR f IN SELECT jsonb_array_elements(plan->'filters') LOOP
      field_key := f->>'field';
      op := lower(f->>'op');
      v := f->'value';

      SELECT sql_expression INTO dim_expr
      FROM bi_meta.dimensions
      WHERE dim_key = field_key;

      IF dim_expr IS NULL THEN
        RAISE EXCEPTION 'Unknown filter field (dimension): %', field_key;
      END IF;

      IF jsonb_typeof(v) = 'string' THEN
        val_text := v #>> '{}';
      ELSE
        val_text := v::text;
      END IF;

      IF op IN ('=','!=','>','>=','<','<=') THEN
        where_sql := where_sql || format(' AND %s %s %s', dim_expr, op, quote_literal(val_text));
      ELSIF op = 'ilike' THEN
        where_sql := where_sql || format(' AND %s ILIKE %s', dim_expr, quote_literal(val_text));
      ELSIF op = 'between' THEN
        where_sql := where_sql || format(' AND %s BETWEEN %s AND %s', dim_expr, quote_literal((v->>0)), quote_literal((v->>1)));
      ELSIF op = 'in' THEN
        IF jsonb_typeof(v) <> 'array' THEN
          RAISE EXCEPTION 'IN operator expects array value for field %', field_key;
        END IF;

        in_list := '';
        FOR one_val IN SELECT jsonb_array_elements_text(v) LOOP
          IF in_list <> '' THEN in_list := in_list || ', '; END IF;
          in_list := in_list || quote_literal(one_val);
        END LOOP;

        where_sql := where_sql || format(' AND %s IN (%s)', dim_expr, in_list);
      ELSE
        RAISE EXCEPTION 'Unsupported operator: %', op;
      END IF;
    END LOOP;
  END IF;

  IF jsonb_typeof(plan->'sort') = 'array' THEN
    sort_item := (plan->'sort'->0);
    sort_field := sort_item->>'field';
    sort_dir := lower(COALESCE(sort_item->>'dir','desc'));
    IF sort_dir NOT IN ('asc','desc') THEN sort_dir := 'desc'; END IF;

    IF EXISTS (SELECT 1 FROM bi_meta.metrics WHERE metric_key = sort_field)
       OR EXISTS (SELECT 1 FROM bi_meta.dimensions WHERE dim_key = sort_field)
    THEN
      order_sql := format(' ORDER BY %I %s', sort_field, sort_dir);
    END IF;
  END IF;

  RETURN format(
    'SELECT %s%s FROM bi.vw_fact_sales_line_clean f WHERE %s%s%s LIMIT %s;',
    CASE WHEN select_dims <> '' THEN select_dims ELSE '' END,
    CASE
      WHEN select_dims <> '' AND select_mets <> '' THEN ', ' || select_mets
      WHEN select_dims = '' AND select_mets <> '' THEN select_mets
      ELSE ''
    END,
    where_sql,
    CASE WHEN group_by <> '' THEN ' GROUP BY ' || group_by ELSE '' END,
    order_sql,
    lim
  );
END $$;


ALTER FUNCTION bi_meta.compile_query(plan jsonb) OWNER TO postgres;

--
-- Name: get_catalog(); Type: FUNCTION; Schema: bi_meta; Owner: postgres
--

CREATE FUNCTION bi_meta.get_catalog() RETURNS jsonb
    LANGUAGE sql
    AS $$ SELECT bi_meta.get_catalog('bi'); $$;


ALTER FUNCTION bi_meta.get_catalog() OWNER TO postgres;

--
-- Name: get_catalog(text); Type: FUNCTION; Schema: bi_meta; Owner: postgres
--

CREATE FUNCTION bi_meta.get_catalog(p_schema text) RETURNS jsonb
    LANGUAGE sql
    AS $$

SELECT jsonb_build_object(

  'schema', p_schema,

  'base_view', 'bi.vw_fact_sales_line_clean',

  'metrics', (

    SELECT jsonb_agg(jsonb_build_object(

      'key', metric_key,

      'name_ar', display_name_ar,

      'name_en', display_name_en,

      'agg', agg,

      'sql', sql_expression,

      'data_type', data_type,

      'format', format_hint

    ) ORDER BY metric_key)

    FROM bi_meta.metrics

  ),

  'dimensions', (

    SELECT jsonb_agg(jsonb_build_object(

      'key', dim_key,

      'name_ar', display_name_ar,

      'name_en', display_name_en,

      'sql', sql_expression,

      'data_type', data_type,

      'allowed_grouping', allowed_grouping

    ) ORDER BY dim_key)

    FROM bi_meta.dimensions

  ),

  'synonyms', (

    SELECT jsonb_agg(jsonb_build_object(

      'term', term,

      'type', maps_to_type,

      'key', maps_to_key

    ) ORDER BY term)

    FROM bi_meta.synonyms

  )

);

$$;


ALTER FUNCTION bi_meta.get_catalog(p_schema text) OWNER TO postgres;

--
-- Name: run_query(jsonb); Type: FUNCTION; Schema: bi_meta; Owner: postgres
--

CREATE FUNCTION bi_meta.run_query(plan jsonb) RETURNS jsonb
    LANGUAGE plpgsql
    AS $_$
DECLARE
  q text;
  q2 text;
  result jsonb;
BEGIN
  q := bi_meta.compile_query(plan);
  IF left(ltrim(q), 6) <> 'SELECT' THEN
    RAISE EXCEPTION 'Only SELECT queries are allowed';
  END IF;

  q2 := regexp_replace(q, ';\s*$', '');
  EXECUTE format('SELECT jsonb_agg(t) FROM (%s) t', q2) INTO result;

  RETURN jsonb_build_object('sql', q, 'rows', COALESCE(result, '[]'::jsonb));
END $_$;


ALTER FUNCTION bi_meta.run_query(plan jsonb) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: fact_sales_line; Type: TABLE; Schema: bi; Owner: postgres
--

CREATE TABLE bi.fact_sales_line (
    order_no text,
    order_date date,
    ship_date date,
    ship_delay_days integer,
    customer_type text,
    account_manager text,
    order_priority text,
    product_name text,
    product_category text,
    product_container text,
    ship_mode text,
    city text,
    state text,
    cost_price numeric,
    retail_price numeric,
    order_quantity integer,
    sub_total numeric,
    discount_pct numeric,
    discount_amount numeric,
    order_total numeric,
    shipping_cost numeric,
    total numeric,
    cogs numeric,
    gross_profit numeric,
    profit_after_shipping numeric,
    order_year integer,
    order_month integer,
    order_quarter integer
);


ALTER TABLE bi.fact_sales_line OWNER TO postgres;

--
-- Name: raw_sales; Type: TABLE; Schema: bi; Owner: postgres
--

CREATE TABLE bi.raw_sales (
    order_no text,
    order_date date,
    ship_date date,
    ship_delay_days integer,
    customer_name text,
    address text,
    city text,
    state text,
    customer_type text,
    account_manager text,
    order_priority text,
    product_name text,
    product_category text,
    product_container text,
    ship_mode text,
    order_quantity integer,
    cost_price numeric,
    retail_price numeric,
    discount_pct numeric,
    shipping_cost numeric,
    sub_total numeric,
    discount_amount numeric,
    order_total numeric,
    total numeric,
    cogs numeric,
    gross_profit numeric,
    profit_after_shipping numeric,
    sub_total_raw numeric,
    discount_amount_raw numeric,
    order_total_raw numeric,
    total_raw numeric,
    order_year integer,
    order_month integer,
    order_quarter integer,
    q_ship_before_order boolean,
    q_discount_pct_bad boolean,
    q_sub_total_mismatch boolean,
    q_discount_amount_mismatch boolean,
    q_order_total_mismatch boolean,
    q_total_mismatch boolean,
    q_profit_margin_mismatch boolean
);


ALTER TABLE bi.raw_sales OWNER TO postgres;

--
-- Name: vw_fact_sales_line_clean; Type: VIEW; Schema: bi; Owner: postgres
--

CREATE VIEW bi.vw_fact_sales_line_clean AS
 SELECT order_no,
    order_date AS order_date_d,
    ship_date AS ship_date_d,
    ship_delay_days,
    customer_type,
    account_manager,
    order_priority,
    product_name,
    product_category,
    product_container,
    ship_mode,
    btrim(city) AS city,
    btrim(state) AS state,
    cost_price,
    retail_price,
    order_quantity,
    sub_total,
    discount_pct,
    discount_amount,
    order_total,
    shipping_cost,
    total,
    cogs,
    gross_profit,
    profit_after_shipping,
    order_year,
    order_month,
    order_quarter
   FROM bi.fact_sales_line;


ALTER VIEW bi.vw_fact_sales_line_clean OWNER TO postgres;

--
-- Name: vw_sales_by_category; Type: VIEW; Schema: bi; Owner: postgres
--

CREATE VIEW bi.vw_sales_by_category AS
 SELECT product_category,
    sum(order_total) AS net_sales,
    sum(gross_profit) AS gross_profit,
    sum(profit_after_shipping) AS profit_after_shipping,
    sum(order_quantity) AS units,
    avg(discount_pct) AS avg_discount_pct,
    sum(discount_amount) AS discounts
   FROM bi.fact_sales_line
  GROUP BY product_category;


ALTER VIEW bi.vw_sales_by_category OWNER TO postgres;

--
-- Name: vw_sales_by_product; Type: VIEW; Schema: bi; Owner: postgres
--

CREATE VIEW bi.vw_sales_by_product AS
 SELECT product_name,
    product_category,
    sum(order_total) AS net_sales,
    sum(sub_total) AS gross_sales,
    sum(discount_amount) AS discounts,
    sum(gross_profit) AS gross_profit,
    sum(profit_after_shipping) AS profit_after_shipping,
    sum(order_quantity) AS units,
    count(*) AS line_count
   FROM bi.fact_sales_line
  GROUP BY product_name, product_category;


ALTER VIEW bi.vw_sales_by_product OWNER TO postgres;

--
-- Name: vw_sales_by_region; Type: VIEW; Schema: bi; Owner: postgres
--

CREATE VIEW bi.vw_sales_by_region AS
 SELECT state,
    city,
    sum(order_total) AS net_sales,
    sum(gross_profit) AS gross_profit,
    sum(profit_after_shipping) AS profit_after_shipping,
    sum(order_quantity) AS units,
    count(*) AS line_count
   FROM bi.fact_sales_line
  GROUP BY state, city;


ALTER VIEW bi.vw_sales_by_region OWNER TO postgres;

--
-- Name: vw_sales_monthly; Type: VIEW; Schema: bi; Owner: postgres
--

CREATE VIEW bi.vw_sales_monthly AS
 SELECT order_year,
    order_month,
    make_date(order_year, order_month, 1) AS month_start,
    sum(sub_total) AS gross_sales,
    sum(discount_amount) AS discounts,
    sum(order_total) AS net_sales,
    sum(cogs) AS cogs,
    sum(gross_profit) AS gross_profit,
    sum(shipping_cost) AS shipping_cost,
    sum(profit_after_shipping) AS profit_after_shipping,
    count(*) AS line_count
   FROM bi.fact_sales_line
  GROUP BY order_year, order_month;


ALTER VIEW bi.vw_sales_monthly OWNER TO postgres;

--
-- Name: vw_shipping_kpis; Type: VIEW; Schema: bi; Owner: postgres
--

CREATE VIEW bi.vw_shipping_kpis AS
 SELECT ship_mode,
    avg((ship_delay_days)::numeric) AS avg_ship_delay_days,
    avg(shipping_cost) AS avg_shipping_cost,
    sum(shipping_cost) AS total_shipping_cost,
    count(*) AS line_count
   FROM bi.fact_sales_line
  GROUP BY ship_mode;


ALTER VIEW bi.vw_shipping_kpis OWNER TO postgres;

--
-- Name: dimensions; Type: TABLE; Schema: bi_meta; Owner: postgres
--

CREATE TABLE bi_meta.dimensions (
    dim_key text NOT NULL,
    display_name_ar text NOT NULL,
    display_name_en text NOT NULL,
    sql_expression text NOT NULL,
    data_type text NOT NULL,
    allowed_grouping boolean DEFAULT true NOT NULL
);


ALTER TABLE bi_meta.dimensions OWNER TO postgres;

--
-- Name: metrics; Type: TABLE; Schema: bi_meta; Owner: postgres
--

CREATE TABLE bi_meta.metrics (
    metric_key text NOT NULL,
    display_name_ar text NOT NULL,
    display_name_en text NOT NULL,
    agg text NOT NULL,
    sql_expression text NOT NULL,
    data_type text NOT NULL,
    format_hint text
);


ALTER TABLE bi_meta.metrics OWNER TO postgres;

--
-- Name: plan_cache; Type: TABLE; Schema: bi_meta; Owner: postgres
--

CREATE TABLE bi_meta.plan_cache (
    id bigint NOT NULL,
    question_norm text NOT NULL,
    question_raw text NOT NULL,
    catalog_hash text NOT NULL,
    plan jsonb NOT NULL,
    model text DEFAULT 'rule_or_llm'::text NOT NULL,
    hits bigint DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    last_used_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE bi_meta.plan_cache OWNER TO postgres;

--
-- Name: plan_cache_id_seq; Type: SEQUENCE; Schema: bi_meta; Owner: postgres
--

CREATE SEQUENCE bi_meta.plan_cache_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE bi_meta.plan_cache_id_seq OWNER TO postgres;

--
-- Name: plan_cache_id_seq; Type: SEQUENCE OWNED BY; Schema: bi_meta; Owner: postgres
--

ALTER SEQUENCE bi_meta.plan_cache_id_seq OWNED BY bi_meta.plan_cache.id;


--
-- Name: query_log; Type: TABLE; Schema: bi_meta; Owner: postgres
--

CREATE TABLE bi_meta.query_log (
    id bigint NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    question text NOT NULL,
    plan jsonb NOT NULL,
    sql text NOT NULL,
    row_count integer NOT NULL,
    warnings jsonb DEFAULT '[]'::jsonb NOT NULL,
    suggestions jsonb DEFAULT '{}'::jsonb NOT NULL,
    duration_ms integer NOT NULL,
    used_cache boolean DEFAULT false NOT NULL,
    used_llm boolean DEFAULT false NOT NULL
);


ALTER TABLE bi_meta.query_log OWNER TO postgres;

--
-- Name: query_log_id_seq; Type: SEQUENCE; Schema: bi_meta; Owner: postgres
--

CREATE SEQUENCE bi_meta.query_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE bi_meta.query_log_id_seq OWNER TO postgres;

--
-- Name: query_log_id_seq; Type: SEQUENCE OWNED BY; Schema: bi_meta; Owner: postgres
--

ALTER SEQUENCE bi_meta.query_log_id_seq OWNED BY bi_meta.query_log.id;


--
-- Name: synonyms; Type: TABLE; Schema: bi_meta; Owner: postgres
--

CREATE TABLE bi_meta.synonyms (
    term text NOT NULL,
    maps_to_type text NOT NULL,
    maps_to_key text NOT NULL
);


ALTER TABLE bi_meta.synonyms OWNER TO postgres;

--
-- Name: vw_plan_cache_recent; Type: VIEW; Schema: bi_meta; Owner: postgres
--

CREATE VIEW bi_meta.vw_plan_cache_recent AS
 SELECT id,
    question_norm,
    catalog_hash,
    model,
    hits,
    created_at,
    last_used_at
   FROM bi_meta.plan_cache
  ORDER BY last_used_at DESC;


ALTER VIEW bi_meta.vw_plan_cache_recent OWNER TO postgres;

--
-- Name: vw_plan_cache_stats; Type: VIEW; Schema: bi_meta; Owner: postgres
--

CREATE VIEW bi_meta.vw_plan_cache_stats AS
 SELECT count(*) AS cache_rows,
    sum(hits) AS total_hits,
    max(last_used_at) AS last_hit_at
   FROM bi_meta.plan_cache;


ALTER VIEW bi_meta.vw_plan_cache_stats OWNER TO postgres;

--
-- Name: vw_query_log_recent; Type: VIEW; Schema: bi_meta; Owner: postgres
--

CREATE VIEW bi_meta.vw_query_log_recent AS
 SELECT id,
    created_at,
    row_count,
    duration_ms,
    used_cache,
    used_llm,
    question
   FROM bi_meta.query_log
  ORDER BY id DESC;


ALTER VIEW bi_meta.vw_query_log_recent OWNER TO postgres;

--
-- Name: plan_cache id; Type: DEFAULT; Schema: bi_meta; Owner: postgres
--

ALTER TABLE ONLY bi_meta.plan_cache ALTER COLUMN id SET DEFAULT nextval('bi_meta.plan_cache_id_seq'::regclass);


--
-- Name: query_log id; Type: DEFAULT; Schema: bi_meta; Owner: postgres
--

ALTER TABLE ONLY bi_meta.query_log ALTER COLUMN id SET DEFAULT nextval('bi_meta.query_log_id_seq'::regclass);


--
-- Name: dimensions dimensions_pkey; Type: CONSTRAINT; Schema: bi_meta; Owner: postgres
--

ALTER TABLE ONLY bi_meta.dimensions
    ADD CONSTRAINT dimensions_pkey PRIMARY KEY (dim_key);


--
-- Name: metrics metrics_pkey; Type: CONSTRAINT; Schema: bi_meta; Owner: postgres
--

ALTER TABLE ONLY bi_meta.metrics
    ADD CONSTRAINT metrics_pkey PRIMARY KEY (metric_key);


--
-- Name: plan_cache plan_cache_pkey; Type: CONSTRAINT; Schema: bi_meta; Owner: postgres
--

ALTER TABLE ONLY bi_meta.plan_cache
    ADD CONSTRAINT plan_cache_pkey PRIMARY KEY (id);


--
-- Name: query_log query_log_pkey; Type: CONSTRAINT; Schema: bi_meta; Owner: postgres
--

ALTER TABLE ONLY bi_meta.query_log
    ADD CONSTRAINT query_log_pkey PRIMARY KEY (id);


--
-- Name: synonyms synonyms_pkey; Type: CONSTRAINT; Schema: bi_meta; Owner: postgres
--

ALTER TABLE ONLY bi_meta.synonyms
    ADD CONSTRAINT synonyms_pkey PRIMARY KEY (term);


--
-- Name: idx_fact_city_state; Type: INDEX; Schema: bi; Owner: postgres
--

CREATE INDEX idx_fact_city_state ON bi.fact_sales_line USING btree (state, city);


--
-- Name: idx_fact_order_date; Type: INDEX; Schema: bi; Owner: postgres
--

CREATE INDEX idx_fact_order_date ON bi.fact_sales_line USING btree (order_date);


--
-- Name: idx_fact_product_category; Type: INDEX; Schema: bi; Owner: postgres
--

CREATE INDEX idx_fact_product_category ON bi.fact_sales_line USING btree (product_category);


--
-- Name: idx_fact_ship_mode; Type: INDEX; Schema: bi; Owner: postgres
--

CREATE INDEX idx_fact_ship_mode ON bi.fact_sales_line USING btree (ship_mode);


--
-- Name: idx_fact_year_month; Type: INDEX; Schema: bi; Owner: postgres
--

CREATE INDEX idx_fact_year_month ON bi.fact_sales_line USING btree (order_year, order_month);


--
-- Name: idx_query_log_created_at; Type: INDEX; Schema: bi_meta; Owner: postgres
--

CREATE INDEX idx_query_log_created_at ON bi_meta.query_log USING btree (created_at DESC);


--
-- Name: ix_plan_cache_last_used; Type: INDEX; Schema: bi_meta; Owner: postgres
--

CREATE INDEX ix_plan_cache_last_used ON bi_meta.plan_cache USING btree (last_used_at DESC);


--
-- Name: plan_cache_uniq; Type: INDEX; Schema: bi_meta; Owner: postgres
--

CREATE UNIQUE INDEX plan_cache_uniq ON bi_meta.plan_cache USING btree (question_norm, catalog_hash);


--
-- Name: SCHEMA bi; Type: ACL; Schema: -; Owner: postgres
--

GRANT USAGE ON SCHEMA bi TO copilot_ro;
GRANT USAGE ON SCHEMA bi TO copilot_loader;


--
-- Name: SCHEMA bi_meta; Type: ACL; Schema: -; Owner: postgres
--

GRANT USAGE ON SCHEMA bi_meta TO copilot_ro;


--
-- Name: FUNCTION compile_query(plan jsonb); Type: ACL; Schema: bi_meta; Owner: postgres
--

GRANT ALL ON FUNCTION bi_meta.compile_query(plan jsonb) TO copilot_ro;


--
-- Name: FUNCTION get_catalog(); Type: ACL; Schema: bi_meta; Owner: postgres
--

GRANT ALL ON FUNCTION bi_meta.get_catalog() TO copilot_ro;


--
-- Name: FUNCTION get_catalog(p_schema text); Type: ACL; Schema: bi_meta; Owner: postgres
--

GRANT ALL ON FUNCTION bi_meta.get_catalog(p_schema text) TO copilot_ro;


--
-- Name: FUNCTION run_query(plan jsonb); Type: ACL; Schema: bi_meta; Owner: postgres
--

GRANT ALL ON FUNCTION bi_meta.run_query(plan jsonb) TO copilot_ro;


--
-- Name: TABLE fact_sales_line; Type: ACL; Schema: bi; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE bi.fact_sales_line TO copilot_loader;


--
-- Name: TABLE raw_sales; Type: ACL; Schema: bi; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE bi.raw_sales TO copilot_loader;


--
-- Name: TABLE vw_fact_sales_line_clean; Type: ACL; Schema: bi; Owner: postgres
--

GRANT SELECT ON TABLE bi.vw_fact_sales_line_clean TO copilot_ro;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE bi.vw_fact_sales_line_clean TO copilot_loader;


--
-- Name: TABLE vw_sales_by_category; Type: ACL; Schema: bi; Owner: postgres
--

GRANT SELECT ON TABLE bi.vw_sales_by_category TO copilot_ro;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE bi.vw_sales_by_category TO copilot_loader;


--
-- Name: TABLE vw_sales_by_product; Type: ACL; Schema: bi; Owner: postgres
--

GRANT SELECT ON TABLE bi.vw_sales_by_product TO copilot_ro;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE bi.vw_sales_by_product TO copilot_loader;


--
-- Name: TABLE vw_sales_by_region; Type: ACL; Schema: bi; Owner: postgres
--

GRANT SELECT ON TABLE bi.vw_sales_by_region TO copilot_ro;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE bi.vw_sales_by_region TO copilot_loader;


--
-- Name: TABLE vw_sales_monthly; Type: ACL; Schema: bi; Owner: postgres
--

GRANT SELECT ON TABLE bi.vw_sales_monthly TO copilot_ro;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE bi.vw_sales_monthly TO copilot_loader;


--
-- Name: TABLE vw_shipping_kpis; Type: ACL; Schema: bi; Owner: postgres
--

GRANT SELECT ON TABLE bi.vw_shipping_kpis TO copilot_ro;
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE bi.vw_shipping_kpis TO copilot_loader;


--
-- Name: TABLE dimensions; Type: ACL; Schema: bi_meta; Owner: postgres
--

GRANT SELECT ON TABLE bi_meta.dimensions TO copilot_ro;


--
-- Name: TABLE metrics; Type: ACL; Schema: bi_meta; Owner: postgres
--

GRANT SELECT ON TABLE bi_meta.metrics TO copilot_ro;


--
-- Name: TABLE plan_cache; Type: ACL; Schema: bi_meta; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE bi_meta.plan_cache TO copilot_ro;


--
-- Name: SEQUENCE plan_cache_id_seq; Type: ACL; Schema: bi_meta; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE bi_meta.plan_cache_id_seq TO copilot_ro;


--
-- Name: TABLE query_log; Type: ACL; Schema: bi_meta; Owner: postgres
--

GRANT SELECT,INSERT ON TABLE bi_meta.query_log TO copilot_ro;


--
-- Name: SEQUENCE query_log_id_seq; Type: ACL; Schema: bi_meta; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE bi_meta.query_log_id_seq TO copilot_ro;


--
-- Name: TABLE synonyms; Type: ACL; Schema: bi_meta; Owner: postgres
--

GRANT SELECT ON TABLE bi_meta.synonyms TO copilot_ro;


--
-- Name: TABLE vw_plan_cache_recent; Type: ACL; Schema: bi_meta; Owner: postgres
--

GRANT SELECT ON TABLE bi_meta.vw_plan_cache_recent TO copilot_ro;


--
-- Name: TABLE vw_plan_cache_stats; Type: ACL; Schema: bi_meta; Owner: postgres
--

GRANT SELECT ON TABLE bi_meta.vw_plan_cache_stats TO copilot_ro;


--
-- Name: TABLE vw_query_log_recent; Type: ACL; Schema: bi_meta; Owner: postgres
--

GRANT SELECT ON TABLE bi_meta.vw_query_log_recent TO copilot_ro;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: bi; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA bi GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES TO copilot_loader;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: bi_meta; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA bi_meta GRANT SELECT,USAGE ON SEQUENCES TO copilot_ro;


--
-- PostgreSQL database dump complete
--

\unrestrict rOcHGwXq7Uyp7TLqAh9I5b8ddSDHKTcYVBS0bUIr1zu2nBXAWd4T3KpReGoOnFy

